Source: ros-kilted-plotjuggler-ros
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), binutils-dev, libboost-all-dev, libfmt-dev, libqt5svg5-dev, libqt5websockets5-dev, qtbase5-dev, ros-kilted-ament-cmake, ros-kilted-plotjuggler, ros-kilted-plotjuggler-msgs, ros-kilted-rclcpp, ros-kilted-rcpputils, ros-kilted-rosbag2-transport, ros-kilted-tf2-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Homepage: https://github.com/facontidavide/PlotJuggler
Standards-Version: 3.9.2

Package: ros-kilted-plotjuggler-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils-dev, libboost-all-dev, libfmt-dev, libqt5svg5-dev, libqt5websockets5-dev, qtbase5-dev, ros-kilted-plotjuggler, ros-kilted-plotjuggler-msgs, ros-kilted-rclcpp, ros-kilted-rcpputils, ros-kilted-rosbag2-transport, ros-kilted-tf2-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: PlotJuggler plugin for ROS
